body{
    background-color: #333;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Footer arkaplan rengi */
    color: #fff; /* Footer metin rengi */
    text-align: center;
    padding: 10px; /* İstenilen boşluk ve kenar boşluğu ayarları */
  }




  .chat span{
    display: block;
    margin: 5px 0;
  }
  
  .meTxt{
    color: #007bff;
  }
  .otherTxt{
    color: #333;
  }
  


  #sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
  }
  
  .sidebar-header {
    text-align: center;
  }
  
  .list-unstyled li {
    padding: 10px;
  }
  
  .list-unstyled a {
    color: #fff;
    text-decoration: none;
  }
  